body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/455/514/original/light-green-low-poly-background-polygonal-design-pattern-bright-mosaic-modern-geometric-design-creative-design-templates-connected-lines-with-dots-free-vector.jpg);
}
#header,#info,#main,#regards,#footer,#play,#winMain,#pause,#pauseplay{
    width: calc(5vw + 380px);
    margin: auto;
    padding: 10px;
}
#info{
    display: flex;
    flex-wrap: wrap;
}
.info{
    width: 20%;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: red;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1.4rem + 0.1vw);
    font-weight: 600;
}
#main{
    background-color: rgb(151, 97, 97);
    display: grid;
    column-gap: 10px;
    row-gap: 30px;
    grid-template-columns: repeat(3,25%);
    /* grid-template-rows: repeat(3,100px) ; */
    grid-template-rows: repeat(3,calc((5vw + 400px)/4.3));

    justify-content: space-around;
    /* align-items: center;  */
    border-radius: 1rem;
}
#winMain{
    background-color: rgb(28, 28, 60);
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: white;
    /* height:400px ; */
    height: calc(4.9vw + 360px);
    align-items: center;
    border-radius: 1rem;
}
#pauseplay{
    background-color: rgb(28, 28, 60);
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: white;
    /* height:400px ; */
    height: calc(4.9vw + 360px);
    align-items: center;
    border-radius: 1rem;
}
#info1{
    cursor: pointer;
}
#info4{
    cursor: pointer;
}
.box{
    background-color: white;
    /* margin: auto; */
    border-radius: 1rem;
    cursor: pointer;
    font-size: calc(2.5rem + 0.1vw);
    /* font-weight: bold;
    fontw */
    font-weight: 1000;
}
#pause{
    background-color: blueviolet;
    color: white;
    /* margin: 16px; */
    margin-top: 16px;
    padding: 1.5rem 0px;
    cursor: pointer;
    border-radius: 1rem;
    /* cursor: not-allowed; */
    font-size: 2rem;
    font-weight: 500;
}
#play{
    background-color: blueviolet;
    color: white;
    /* margin: 16px; */
    margin-top: 16px;
    padding: 1.5rem 0px;
    cursor: pointer;
    border-radius: 1rem;
    /* cursor: not-allowed; */
    font-size: 2rem;
    font-weight: 500;
}
#playAgain{
    padding: 1rem;
    margin: 0.5rem;
    /* margin-top: 2rem; */
    background-color: yellowgreen;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}
#leaderBoard{
     padding: 1rem; 
     margin: 0.5rem;
     margin-top: 2rem; 
    background-color: yellowgreen;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}
#timeTaken{
    padding: 1rem;
    margin: 1rem;
    /* margin-top: 2rem; */
    background-color: rgb(178, 220, 96);
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    /* cursor: pointer; */
    font-weight: 400;
}
#movesTaken{
    padding: 1rem;
    margin: 1rem;
    /* margin-top: 2rem; */
    background-color: rgb(214, 228, 122);
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    /* cursor: pointer; */
    font-weight: 400;
}

@media (max-width : 1500px){
    .info{
    width: calc(5vw + 400px);
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: red;
    border-radius: 1rem;
    }
    #info1{
        padding: 1.5rem 0px;
    }
    #info4{
        padding: 1.5rem 0px;
    }
    #info2{
        display: flex;
        flex-wrap: wrap;
    }
    #info3{
        display: flex;        
        flex-wrap: wrap;
    }
    #Time{
    width: calc((5vw + 400px)/2.01);
    }
    #Move{
    width: calc((5vw + 400px)/2.01);
    }
}
@media (max-width : 650px){
    #header,#info,#main,#regards,#footer,#play,#winMain,#pause,#pauseplay{
        width: 95%;
        margin: auto;
        padding: 10px;
    }
    #main{
        background-color: rgb(151, 97, 97);
        display: grid;
        column-gap: 10px;
        row-gap: 30px;
        grid-template-columns: repeat(3,25%);
        /* grid-template-rows: repeat(3,100px) ; */
        grid-template-rows: repeat(3,24vw);
    
        justify-content: space-around;
        /* align-items: center;  */
        border-radius: 1rem;
    }
    #pause{
        background-color: blueviolet;
        color: white;
        /* margin: 16px; */
        margin-top: 16px;
        padding: 1.5rem 0px;
        cursor: pointer;
        border-radius: 1rem;
        /* cursor: not-allowed; */
        font-size: 2rem;
        font-weight: 500;
    }
    #play{
        background-color: blueviolet;
        color: white;
        /* margin: 16px; */
        margin-top: 16px;
        padding: 1.5rem 0px;
        cursor: pointer;
        border-radius: 1rem;
        /* cursor: not-allowed; */
        font-size: 2rem;
        font-weight: 500;
    }
   
}
@media(max-width: 400px){
   #winMain{
        background-color: rgb(28, 28, 60);
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        color: white;
        height: calc(5.1vw + 380px);
        align-items: center;
        border-radius: 1rem;
    }
    #playAgain{
        padding: 1rem;
        margin: 0.5rem;
        background-color: yellowgreen;
        border-radius: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 500;
    }
    #timeTaken{
        padding: 1rem;
        margin: 1rem;
        /* margin-top: 0px; */
        background-color: rgb(178, 220, 96);
        border-radius: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }
    #movesTaken{
        padding: 1rem;
        margin: 0.5rem;
        margin-top: 0px;
        background-color: rgb(214, 228, 122);
        border-radius: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }
}


